.algo_comeco{
font-size: large;
text-align: center;
display:flex;
justify-content: center;
font-weight: bold;
color: aquamarine;
}

.bagulho{
font-size: medium;
text-align: left;
display: flex;
justify-content: center;

}